@model HotelReservation.Models.Habitacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>
    <div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="@("~/imagenes/"+Model.Imagen)" asp-append-version="true" width="100"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo.Nombre)
        </dd>
        <dt class="col-sm-2">Servicios</dt>
        <dd class="col-sm-10">
            <ul >
                @{
                    foreach (var item in ViewBag.lista)
                    {
                        <li >@item.Servicio.Nombre</li>
                    }
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</div>
